.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  list-style-type: none;
}

.card__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  color: #000000;
  padding: 24px 29px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  font-family: Inter, Arial, san-serif;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  color: #000;
  margin: 0;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../card-images/likebutton.svg) center no-repeat;
  transition: opacity 0.3s linear;
  border: 0 solid white;
  transition: opacity 1s;
  margin: 0;
  padding: 0;
  min-width: 21px;
  height: 18px;
  align-self: center;
}

.card__like-button_active {
  background: transparent url(../card-images/heart-icon-black.svg) center
    no-repeat;
  opacity: 1;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__trash-image {
  background: transparent url(../card-images/trash-icon.svg) center no-repeat;
  transition: opacity 1s linear;
  color: #ffffff;
  border: none;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__trash-image:hover {
  opacity: 0.5;
  cursor: pointer;
}
