.footer {
  max-width: 880px;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.footer__copyright {
  color: #545454;
  max-width: 282px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (max-width: 620px) {
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-left: 19px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
