.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 67px;
  margin-bottom: 60px;
  max-width: 880px;
  margin: 67px auto 60px;
}

.footer__copyright {
  font-family: Inter, Arial, sans-serif;
  color: #545454;
  /* max-width: 282px; */
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

@media screen and (max-width: 775px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
