.footer {
  max-width: 880px;
  margin: 67px auto 60px;
}

.footer__copyright {
  color: rgba(84, 84, 84, 1);
  font-size: 18px;
  line-height: 1.2;
  padding: px 100px;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .footer {
    align-self: self-start;
    margin-bottom: 36px;
    margin-top: 48px;
    padding-left: 19px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
