.modal {
  display: fixed;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0 19px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.modal__save-button {
  padding: 0;
  margin: 48px 36px 36px 36px;
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
  border: none;
  transition: opacity 0.6s;
}

.modal__save-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__container_type_image {
  padding: 0;
  background: none;
}

.modal__close-button {
  position: absolute;
  background-image: url(../card-images/modal_close-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: 0;
  padding: 0;
  transition: opacity 0.6s;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  width: 330px;
  height: 23px;
  font-family: Inter, Arial, san-serif;
  color: black;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 28px 54px 36px;
}

.modal__field {
  padding: 0;
  margin: 29px 36px 0 36px;
  border: none;
  border-bottom: 1px solid #000000;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  padding: 0 0 0 2px;
  border-width: 0 0 1px 0;
  line-height: 17px;
  font-size: 14px;
  height: 27px;
  width: 100%;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__button {
  color: #fff;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  width: 358px;
  transition: opacity 0.3s linear;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button:disabled {
  background: #000000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  opacity: 0.2;
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.modal__preview-container {
  position: relative;
}

.modal__image-title {
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: white;
}

.modal__label {
  position: relative;
}

.modal__error {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  max-width: 358px;
  /*this is the bottom margin of the input*/
  min-height: 30px;
  display: block;
  margin-left: 36px;
  font-size: 12px;
  color: red;
}

.modal__error_active {
  opacity: 1;
}

@media screen and (max-width: 560px) {
  .modal__container {
    max-width: 282px;
    border: 1px solid #000000;
  }

  .modal__field {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px 22px;
  }

  .modal__container_type_image {
    padding: 0;
    background: none;
    gap: 0;
  }

  .modal__title {
    width: 238px;
    height: 22px;
    margin: 34px auto;
    line-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    margin-top: 75px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 15px);
    left: calc(100% - 30px);
    transform: rotate(90deg);
  }

  .modal__close_type_image {
    width: 30px;
    height: 30px;
  }

  .modal__save-button {
    width: 238px;
    /* font-size: 14px;
    line-height: 17px; */
    height: 46px;
    /* margin-top: 15px; */
    margin: 45px 22px 25px 22px;
  }

  .modal__field {
    width: 238px;
    height: 27px;
    margin: 30px 22px 0 22px;
  }

  .modal__create {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }
}

/*image preview*/
.modal__preview-container {
  position: relative;
  width: 240px;
  height: 299px;
  margin: 0 40px 0 40px;
}

.modal__image-preview {
  width: 240px;
  height: 299px;
  top: 136px;
  left: 40px;
}
@media screen and (max-width: 450px) {
  .modal__close_type_form {
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }
}
