.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 999;
  padding: 0 19px;
  /* align-items: center;
  justify-content: center; */
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.5s linear;
}

.modal__heading {
  width: 100%;
  height: 23px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0px 0px 75px;
}

.modal__container {
  margin: auto;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__container:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 54px;
}

.modal_opened {
  display: flex;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}

.modal_opened:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  /*top: -45px;*/
  bottom: calc(100% + 5px);
  /*right: -45px;*/
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../card-images/Close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*outline: none;*/
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__close-button {
  background-image: url(../card-images/Close.svg);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -48px;
  right: -48px;
  rotate: 45px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__button {
  width: 100%;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.modal__submit-button {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  border-radius: 0px;
  height: 50px;
  width: 100%;
  border: none;
  background-color: black;
  cursor: pointer;
}

.modal__submut-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__inputs {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.modal__input {
  max-width: 358px;
  width: 100%;
  height: 14px;
  /* padding: 0 0 13px; */
  color: #000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  /*alpha = opacity*/
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px;
}

.modal__input_type_error {
  border-color: #ff0000;
}

/* Modal image preview container */

.modal__container_preview {
  position: relative;
  margin: auto;
  background-color: transparent;
  padding: 90px 0;
  max-width: 100%;
}
.modal__image_preview {
  max-width: 100%;
  max-height: 540px;
}

.modal__close-button_preview {
  top: 41px;
}
.modal__container_type_image {
  padding: 0;
  background: none;
}

.modal__button {
  color: #fff;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  transition: opacity 0.3s linear;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button:disabled {
  border: 2px solid #000000;
  background-color: #ffffff;
  opacity: 0.2;
  color: #000000;
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.modal__preview-container {
  position: relative;
}

.modal__image-title {
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: white;
}

.modal__label {
  position: relative;
}

.modal__error {
  font-family: "Inter", Arial, sans-serif;
  line-height: 12px;
  /* position: absolute; */
  font-size: 12px;
  max-width: 358px;
  top: calc(100% + 6px);
  min-height: 30px;
  left: 0;
  display: block;
  font-size: 12px;
  color: red;
  transition: opacity 1s;
}

.modal__error_active {
  opacity: 1;
}

@media screen and (max-width: 775px) {
  .modal__container {
    max-width: 282px;
    border: 1px solid #000000;
  }

  .modal__input {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px 22px;
  }

  .modal__container_type_image {
    padding: 0;
    background: none;
    gap: 0;
  }

  .modal__title {
    width: 238px;
    height: 22px;
    margin: 34px auto;
    line-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    margin-top: 75px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 15px);
    left: calc(100% - 30px);
    transform: rotate(90deg);
  }

  .modal__close_type_image {
    width: 30px;
    height: 30px;
  }

  .modal__save-button {
    width: 238px;
    /* font-size: 14px;
    line-height: 17px; */
    height: 46px;
    /* margin-top: 15px; */
    margin: 45px 22px 25px 22px;
  }

  .modal__input {
    width: 238px;
    height: 27px;
    margin: 30px 22px 0 22px;
  }

  .modal__create {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }
}

/*image preview*/
.modal__preview-container {
  position: relative;
  margin: auto;
}

.modal__image-preview {
  max-width: 100%;
  max-height: 540px;
}

@media screen and (max-width: 450px) {
  .modal__close_type_form {
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }
}
.modal__input {
  width: 358px;
  height: 27.26px;
  top: 306px;
  left: 461px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
