.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 999;
  padding: 19px;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal__heading {
  width: 100%;
  height: 23px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0px 0px 75px;
}
.modal__container {
  background-color: #fff;
  position: relative;
  padding: 34px 36px;
  flex-direction: column;
  border-radius: 10px;
  margin: 195px auto 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 430px;
  height: 430px;
  /* this height allows the save button to still be inside the modal box */
}

.modal__container:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal_opened {
  display: flex;
  /* used a modificator with only one low dash */
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  /*top: -45px;*/
  bottom: calc(100% + 5px);
  /*right: -45px;*/
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../card-images/Close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*outline: none;*/
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.modal__button {
  width: 100%;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.modal__input {
  width: 100%;
  height: 14px;
  padding: 0 0 13px;
  color: #000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*alpha = opacity*/
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px;
}

.modal__opened {
  display: flex;
}

.modal_opened:hover {
  opacity: 0.6px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 0 19px;
    display: flex;
  }

  .modal__heading {
    width: 330px;
    height: 23px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .modal__input {
    width: 100%;
    height: 14px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .modal__button {
    width: 100%;
    height: 50.152px;
    border-radius: 2px;
    background: #000;
    font-size: 14px;
  }

  .modal__opened {
    display: flex;
  }

  .modal__opened:hover {
    opacity: 0.6px;
    cursor: pointer;
  }

  .modal__container {
    position: relative;
    padding: 22px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    width: 282px;
    height: 400px;
  }

  .modal__container:hover {
    opacity: 0.6px;
    cursor: pointer;
  }

  .modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + -30px);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../card-images/Close.svg");
  }

  .modal__close:hover {
    opacity: 0.6px;
    cursor: pointer;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
}
