.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 999;
  padding: 0 19px;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.5s linear;
}

.modal__heading {
  width: 100%;
  height: 23px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0px 0px 75px;
}

.modal__container {
  position: relative;
  width: 430px;
  height: 330px;
  /* top: 195px; */
  /* left: 425px; */
  border-radius: 10px;
  background-color: #ffffff;
  padding: 34px 36px 36.51px 36px;
}

.modal__container:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__title {
  width: 330px;
  height: 23px;
  top: 229px;
  left: 461px;
  font-family: Inter, Arial, san-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29.05px;
  margin-top: 0px;
}

.modal_opened {
  display: flex;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}

.modal_opened:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__close {
  width: 40.7px;
  height: 40.7px;
  /* top: 214px;
  left: 880.78px; */
  top: calc(0% - 40px);
  left: calc(100% + 5px);
  gap: 0px;
  opacity: 0px;

  position: absolute;
  background-image: url(../card-images/Close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: 0;
  transition: opacity 0.3s linear;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
/* error field with red text */
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__button {
  width: 100%;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.modal__submit-button {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  border-radius: 0px;
  height: 50px;
  width: 100%;
  border: none;
  background-color: black;
  cursor: pointer;
}

.modal__submut-button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* New Place Link field */
.modal__inputs {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  /* background-color: #c4c4c4; */
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 55px;
}

.modal__input {
  padding: 0 0 0 2px;
  border-width: 0 0 1px 0;
  line-height: 17px;
  font-size: 14px;
  height: 27px;
  width: 100%;
}

.modal__input_type_error {
  border-color: #ff0000;
}

/* Modal image preview container */

.modal__container_preview {
  position: relative;
  margin: auto;
  background-color: transparent;
  padding: 90px 0;
  max-width: 100%;
}
.modal__image_preview {
  max-width: 100%;
  max-height: 540px;
}

.modal__close-button_preview {
  top: 41px;
}
.modal__container_type_image {
  padding: 0;
  background: none;
}

.modal__button {
  color: #fff;
  background-color: black;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  transition: opacity 0.3s linear;
  width: 100%;
  height: 50.15px;
  top: 438.34px;
  left: 461px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button:disabled {
  border: 2px solid #000000;
  background-color: #ffffff;
  opacity: 0.2;
  color: #000000;
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.modal__preview-container {
  position: relative;
}

.modal__image-title {
  font-family: Inter, Arial, sans-serif;
  word-wrap: break-word;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  color: white;
}

.modal__label {
  position: relative;
}

.modal__error {
  font-family: "Inter", Arial, sans-serif;
  line-height: 30px;
  font-size: 12px;
  max-width: 100%;
  top: calc(100% + 6px);
  min-height: 30px;
  left: 0;
  display: block;
  font-size: 12px;
  color: red;
  transition: opacity 1s;
}

.modal__error_active {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .modal__container {
    padding: 25px 22px;
    gap: 30px;
  }

  .modal__container_type_image {
    padding: 0;
    background: none;
    gap: 0;
  }

  .modal__title {
    line-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    margin-top: 75px;
  }

  .modal__close_type_form {
    width: 26px;
    height: 26px;
  }

  .modal__close_type_image {
    width: 30px;
    height: 30px;
  }

  .modal__save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }

  .modal__create {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .modal__close_type_form {
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }
}
