.page {
  background-color: #000;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
}

.page__content {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  padding: 0 19px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 620px) {
  .page__content {
    padding: 0;
  }
}
