.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: #fff;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 880px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .page__content {
    padding: 0 0px;
  }
}
