.header {
  display: flex;
  width: 100%;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  padding: 45px 0 41px 0;
  flex-direction: column;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 620px) {
  .header {
    margin: 0 auto;
    padding: 28px 0 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
