.profile {
  display: flex;
  max-width: 880px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.profile__content {
  display: grid;
  margin: 22px 0 auto 30px;
  gap: 7px 18px;
  grid-template-areas:
    "title button"
    "description description";
  gap: 7px 18px;
  grid-gap: 5px 18px;
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  grid-area: title;
  max-width: 375px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  margin: 0 0 0 0;
}

.profile__edit-button {
  background: transparent url(../card-images/editbutton.svg) center no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  top: 196px;
  left: 739px;
  grid-area: button;
  align-self: center;
  border: solid 1px white;
  margin-right: 10px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../card-images/addbutton.svg) center no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: center;
    width: 100%;
  }

  .profile__name {
    line-height: 27px;
    font-size: 22px;
    max-width: 196px;
  }

  .profile__description {
    width: 100%;
    /* text-align: center; */
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 282px;
    padding: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 780px) {
  .profile__image {
    margin-left: 0;
  }

  .profile__add-button {
    margin: 36px 19px 36px 19px;
  }
}

@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 282px;
  }

  .profile__image {
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
  }

  .profile__info {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 28px;
    margin: 30px auto 0;
    grid-gap: 14px 10px;
    margin-top: 30px;
  }

  .profile__description {
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
    margin-right: auto;
    margin-top: 14px;
    align-content: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
